.card {
  width: 25rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.animated-bg {
  animation: bgPosition 1.5s linear infinite;
  border-radius: 0.25rem;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 30%,
    #f6f7f8 100%
  );
}

@keyframes bgPosition {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}
